#home-carousel.carousel
  .carousel-inner
    .item.active
      %img{src: '/img/carousel/temp-1.png', alt: 'Temp #1', width: '980', height: '538'}
      .carousel-caption
        %h4= lorem.sentence
        %p= lorem.sentences(4)
    .item
      %img{src: '/img/slider/wow-slider/images/slide2.jpg', alt: '',  width: '980', height: '450'}
      .carousel-caption
        %h4= lorem.sentence
        %p= lorem.sentences(4)
    .item
      %img{src: '/img/slider/wow-slider/images/slide3.jpg', alt: '',  width: '980', height: '450'}
      .carousel-caption
        %h4= lorem.sentence
        %p= lorem.sentences(2)
  %a{href: '#home-carousel', class: 'carousel-control left', data: {slide: 'prev'}} &lsaquo;
  %a{href: '#home-carousel', class: 'carousel-control right', data: {slide: 'next'}} &rsaquo;

.container
  %section#intro
    %h1
      Over 100 years combined <span class="theme_color">commercial motor vehicle</span> experience at your service.
      We're experts in <span class="theme_color">DOT compliance</span>, <span class="theme_color">litigation support</span>,
      and <span class="theme_color">best safety practices</span>.

  .row
    .span7
      %p
        <strong>We help companies of all types and sizes that operate commercial motor vehicles</strong>, as well as
        shippers and carriers of hazardous materials, with respect to compliance with Title 49 Code of Federal Regulations.
      %p
        Whether your company operates straight trucks, specialized equipment, or tractor trailers, JPTSC offers effective
        consulting services and training programs tailored to meet the specific needs of your organization. From on-site
        mock DOT audits, customized driver and management training to vehicle maintenance programs, we can develop or
        improve your overall fleet safety and compliance programs.
      -#
        %h4 Really important bullet points.
        .row
          .span3
            %ul
              %li Mock D.O.T. audits
              %li D.O.T. audit assistance
              %li= lorem.words(4).capitalize
              %li= lorem.words(3).capitalize
          .span3
            %ul
              %li= lorem.words(3).capitalize
              %li= lorem.words(2).capitalize
              %li= lorem.words(4).capitalize
              %li= lorem.words(4).capitalize
      %p
        %a{href: '#', class: 'btn btn-large btn-primary'} Learn more
    .span5
      %ul.sidebar-comment
        %li
          %blockquote
            %p= lorem.sentences(2)
            %small= lorem.name
        %li
          %blockquote
            %p= lorem.sentences(3)
            %small= lorem.name



- content_for :javascript do
  :javascript
    $(document).ready(function() {
      $('#home-carousel').carousel({
        interval: 10000
      });
    });