!!! 5
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
%head
  %meta{ charset: 'utf-8' }
  %meta{ 'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge,chrome=1' }

  %title= "#{defined?(title) ? title + ' | ' : ''}JP Transportation Safety Consulting, LLC (JPTSC)"

  - if defined?(meta_description)
    %meta{ name: 'description', content: "#{meta_description}" }

  %meta{ name: 'viewport', content: 'width=device-width' }

  / El Styles
  %link{ href: '/css/jptsc.css', rel: 'stylesheet', type: 'text/css', media: 'all' }
  /[if lt IE 8]
    %link{ href: '/css/ie8.css', rel: 'stylesheet', type: 'text/css', media: 'all' }

  / El Modernizr
  %script{ src: '/js/libs/modernizr-2.5.3-respond-1.1.0.min.js' }

%body
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  .space_top
  #wrap.clearfix
    %header#header.clearfix
      #logo.grid_8
        %a{href: '/'}
      #phone
        %ul
          %li.theme_color Call us:
          %li (205) 329-8182
      #socialmedia
        %ul
          <li><a href="https://plus.google.com/u/0/102370404281555515793/posts" target="_blank"><img src="img/icons/google-plus.png" width="29" height="29" alt="Google"></a></li>
          <li><a href="https://twitter.com/#!/UnitedThemes" target="_blank"><img src="img/icons/twitter-icon.png" width="29" height="29" alt="Twitter"></a></li>
          <li><a href="http://www.facebook.com/pages/United-Themes/192439650789254" target="_blank"><img src="img/icons/facebook-icon.png" width="29" height="29" alt="Facebook"></a></li>
      .clear

      #nav.clearfix.top
        %ul.sf-menu.container
          <li class="current"><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Staff</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Mission Statement</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Links</a></li>

    = yield

    %footer#footer
      .container
        .row
          .span4
            Test

          .span4
            Test

          .span4
            Test

      #sub_footer
        .container
          .row
            .span6
              %p
                &copy; #{Date.today.year} JP Transportation Safety Consulting, LLC.
                All rights reserved.
              %p
                Made by <a href="http://www.rarestep.com">RareStep</a>.
            .span6.ar
              <span><a class="button" href="#top">Top &uarr;</a></span>

  = render_partial 'javascripts'
  = content_for(:javascript)