!!! 5
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
%head
  %meta{ charset: 'utf-8' }
  %meta{ 'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge,chrome=1' }

  %title= "#{defined?(title) ? title + ' | ' : ''}JP Transportation Safety Consulting, LLC (JPTSC)"

  - if defined?(meta_description)
    %meta{ name: 'description', content: "#{meta_description}" }

  %meta{ name: 'viewport', content: 'width=device-width' }

  / El Styles
  %link{ href: '/css/jptsc.css', rel: 'stylesheet', type: 'text/css', media: 'all' }
  /[if lt IE 8]
    %link{ href: '/css/ie8.css', rel: 'stylesheet', type: 'text/css', media: 'all' }

  / El Modernizr
  %script{ src: '/js/libs/modernizr-2.5.3-respond-1.1.0.min.js' }

  - if Frank.exporting?
    :plain
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31160937-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>

%body
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  .space_top
  #wrap.clearfix
    %header#header.clearfix
      .row
        .span3
          #logo
            %a{href: '/'}
        .span5
          %h2#logo-caption
            Keeping your fleet <span class="theme_color">safe</span>.

        #phone
          %ul
            %li.theme_color Call us:
            %li (205) 945-8550
        #socialmedia
          %ul
            <li><a href="https://twitter.com/#!/yesjptsc" target="_blank"><img src="/img/icons/twitter-icon.png" width="29" height="29" alt="Twitter"></a></li>
            <li><a href="https://www.facebook.com/JpTransportationSafetyConsulting" target="_blank"><img src="/img/icons/facebook-icon.png" width="29" height="29" alt="Facebook"></a></li>

      #nav.clearfix.top
        - active_nav_link = nil if !defined?(active_nav_link)
        %ul.sf-menu.container
          %li{ class: "#{active_nav_link == :home ? 'current' : '' }" }
            %a{ href: '/', title: 'JPSTC website homepage' } Home
          %li{ class: "#{active_nav_link == :about ? 'current' : '' }" }
            %a{ href: '/about', title: 'About JPTSC' } About Us
          %li{ class: "#{active_nav_link == :services ? 'current' : '' }" }
            %a{ href: '/services', title: 'JPTSC Services' } Our Services
          %li{ class: "#{active_nav_link == :testimonials ? 'current' : '' }" }
            %a{ href: '/testimonials', title: 'What our clients say about us' } Testimonials
          %li{ class: "#{active_nav_link == :partners ? 'current' : '' }" }
            %a{ href: '/partners', title: 'JPTSC Partners and helpful links' } Partners &amp; Links
          %li{ class: "#{active_nav_link == :contact ? 'current' : '' }" }
            %a{ href: '/contact', title: 'Contact JPTSC' } Contact Us

    %section#content
      = yield

    %footer#footer
      .container
        .row
          .span3
            %h5 Navigation
            %ul.unstyled
              %li
                <i class="icon-home icon-white"></i>
                %a{ href: '/', title: 'JPSTC website homepage' } Home
              %li
                <i class="icon-info-sign icon-white"></i>
                %a{ href: '/about', title: 'About JPTSC' } About Us
              %li
                <i class="icon-check icon-white"></i>
                %a{ href: '/services', title: 'JPTSC Services' } Our Services
              %li
                <i class="icon-comment icon-white"></i>
                %a{ href: '/testimonials', title: 'What our clients say about us' } Testimonials
              %li
                <i class="icon-share-alt icon-white"></i>
                %a{ href: '/partners', title: 'JPTSC Partners' } Partners
              %li
                <i class="icon-envelope icon-white"></i>
                %a{ href: '/contact', title: 'Contact JPTSC' } Contact Us

          .span5
            %h5 Twitter
            #twitter

          .span4
            %h5 Contact Us

            %ul.unstyled
              %li
                (855) 2JPTSCNOW
                %span.muted
                  (855) 257-8726
                %span.label.label-inverse
                  Toll Free
              %li (205) 945-8550

            %address
              %strong
                JP Transportation Safety Consulting, LLC.
              %br
              P.O. Box 382105
              %br
              Birmingham, AL 35238-2105


      #sub_footer
        .container
          .row
            .span6
              %p
                &copy; #{Date.today.year} JP Transportation Safety Consulting, LLC.
                All rights reserved.
              %p
                Made by <a href="http://www.rarestep.com">RareStep</a>.
            .span6.ar
              <span><a class="button" href="#top">Top &uarr;</a></span>
  .space_bottom

  = render_partial 'javascripts'
  = content_for(:javascript)